.home-container {
    display: flex;
    justify-content: space-around;

}

.img {
    width: 50%;
}

.title {
    display: 100%;

}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.title-1st-part {

    color: coral;
    margin-right: 18%;
}

.title-2nd-part {
    color: cornflowerblue;

}